* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background-color: #121212; */
  background-image: url("./images/allWeathe.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  backdrop-filter: blur(2px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
}
.container {
  width: 360px;
  height: auto;
  /* border: 10px solid black; */
  background: linear-gradient(
    45deg,
    rgb(236, 7, 240),
    rgb(17, 87, 228),
    rgb(7, 240, 240)
  );
  /* color: white; */
  padding: 50px 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: all 1s ease; */
}
.container .containerHeader {
  /* background-color: aqua; */
  width: 95%;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  /* height: 45px; */
  /* max-width: 380px; */
}
.container .containerHeader input {
  width: 240px;
  height: 45px;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container .containerHeader .imgdiv {
  width: 80px;
  height: 45px;
  cursor: pointer;
  background-color: rgb(248, 162, 248);
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.container .containerHeader .imgdiv:hover {
  background-color: rgb(219, 241, 245);
}
.container .containerHeader .imgdiv img {
  width: 20px;
  margin-left: 9px;
  margin-top: 2px;
}

.container .containerBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  /* gap: 10px; */
}
.container .containerBody img {
  width: 230px;
}
.container .containerBody h1 {
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;

  /* margin-bottom: 20px; */
}
.container .containerBody h2 {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  margin-bottom: 50px;
  text-transform: capitalize;
}

.container .containerFooter {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-transform: capitalize; */
}
.container .containerFooter .col1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .containerFooter .col1 img {
  width: 30px;
}
.container .containerFooter .col1 div h5 {
  font-size: 20px;
  margin-bottom: 5px;
}
.container .containerFooter .col1 div p {
  font-size: 15px;
  font-weight: 600;
}

.container .containerBody {
  display: none;
}
.container .notfound {
  margin-top: 30px;
  display: none;
  transition: all 1s ease;
}

@media (max-width: 450px) {
  body {
    backdrop-filter: blur(5px);
 align-items:flex-start;
  }
  .container {
    width: 90%;
    padding: 60px 0px;
    /* border: 10px solid black; */
    background: none;
  }
  .container .containerHeader {
    /* background-color: aqua; */
    width: 98%;
    margin-bottom: 30px;
  }
  .container .containerHeader input {
    width: 80%;
  }
  .container .containerHeader .imgdiv img {
    margin-left: 14px;
  }
  .container .containerBody h2 {
     font-size: 35px;
     margin-bottom: 20px;
  margin-bottom: 80px;
}
}
@media (max-width: 310px) {
  .container .containerFooter .col1 {
    flex-direction: column;
  }
}
